.rspec
.ruby-version
coverage/
db/*.sqlite3
db/schema.rb
lib/tasks/
log/
tmp/
vendor/bundle
.idea

rottenpotatoes/.rspec
rottenpotatoes/.ruby-version
rottenpotatoes/coverage/
rottenpotatoes/db/*.sqlite3
rottenpotatoes/db/schema.rb
rottenpotatoes/lib/tasks/
rottenpotatoes/log/
rottenpotatoes/tmp/
rottenpotatoes/vendor/bundle
