<div class='row w-100 border-bottom text-white'>
  <div class='col-md-10 text-white'>
    <%= link_to chat_list, data: { turbo_frame: "_top" } do %>
      <i class="fa-thin fa-message"></i> <%=list_name(chat_list)%>
    <% end %>
  </div>
  <div class='col-md-1'>
    <%= button_to @chat, method: :delete, data: { turbo_frame: "_top" }, class: 'border-none btn btn-dark pt-0' do %>
      <i class="fa-duotone fa-trash"></i>
    <% end %>
  </div>
</div>