<table class="table table-striped col-md-12" id="arts">
  <thead>
    <tr>
      <th>Art Title</th>
      <th>Release Date</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @arts.each do |art| %>
      <tr>
        <td>
          <%= art.title %>
        </td>
        <td>
          <%= art.release_date %>
        </td>
        <td>
          <%= link_to "More about #{art.title}", art_path(art) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>