<!--  This file is app/views/arts/index.html.erb -->
<%#  Part 2: Start here... %>

<!--TODO SAMPLE. Need to actually display an art of the day with better UX-->
<!--TODO SAMPLE. Need to actually display an art of the day with better UX-->
<div style="margin-top: 300px; "></div>
